{% extends 'layout.html.twig' %}

{% block title %}Equipages
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('crew') }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 gap-3 mx-auto mt-5">
			{% for crew in crews %}
				<div class="blockcrew col-lg-4 p-0 mb-4 mt-4 position-relative mx-auto">
					<div class="block-captain position-absolute top-50 start-0 translate-middle">
						<img class="" src="{{ asset('build/images/' ~ crew.image) }}" alt=" card image cap" width="210" height=" 220">
					</div>
					<div class="text-light d-flex ms-5 my-3 text-center p-0 flex-column justify-content-between mx-4">
						<div class="">
							<h5 class="text-dark mb-2 fs-3">{{crew.name}}</h5>
						</div>
						<p class="text-light mb-2 fs-5">Statut :
							{{crew.description}}</p>
						<p class="text-light mb-2 fs-5">
							{{crew.number}}
							membres</p>
						<a class="btn btn-primary col-lg-6 mx-auto" href="{{ path("crew_show", { crewName: crew.name }) }}">Voir l'équipage</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
