{% extends 'layout.html.twig' %}


{% block title %}Se connecter
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="loginblock col-lg-4 col-sm-6 mx-auto mt-5 p-5">
			<h1 class="text-center text-dark fs-2">Se connecter</h1>
			<form class="d-flex flex-column" action="{{ path('app_login') }}" method="post">
				<div class="my-3 col-11 m-auto">
					<label class="form-label text-dark fw-bold fs-5" for="username">Email</label>
					<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}">
				</div>

				<div class="my-3 col-11 m-auto">
					<label class="form-label text-dark fw-bold fs-5" for="password">Password</label>
					<input type="password" id="password" class="form-control" name="_password">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="hidden" name="_target_path" value="{{ path('crew_index') }}">
				<input type="hidden" name="_target_path" value="{{ path('app_admin') }}">
				<button class="btn btn-primary col-lg-6 m-auto mb-3 mt-3 fw-bold fs-5" type="submit">Se connecter</button>
			</form>
			<div class="text-center mb-3">
				<div class="my-2 fw-normal fs-5">Vous n'avez pas de compte ?</div>
				<a class="btn btn-outline-primary mt-2 col-lg-6 mb-5 w-75 fw-bold fs-5" href="{{ path('app_register')}}">S'inscrire</a>
			</div>
		</div>
	</div>
{% endblock %}
