<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(236, 201, 145, 0.7);">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home')}}"><img class="home_img" src="{{ asset('build/images/flag.png') }}" alt="One piece" width="60" height="50"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active text-light" aria-current="page" href="{{ path('app_admin')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{{path('app_admin_crew_index')}}">Equipages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{{path('app_admin_member_index')}}">Personnages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-light" aria-current="page" href="{{ path('app_logout')}}">
						Déconnexion</p>
				</li>
			</li>
		</li>
	</a>
</ul></div></div></nav>
